{% extends "layout.html" %}
{% block content %}
<h2>Play again!</h2>
<form method="GET">
  <input type="submit" name="choice" value="rock">
  <input type="submit" name="choice" value="paper">
  <input type="submit" name="choice" value="scissors">
  <input type="submit" name="choice" value="reset">
</form>
<p>Player chose: {{ player_choice }}</p>
<p>Computer chose: {{ computer_choice }}</p>

{% if winner == 'tie' %}
<h1>There was a tie!</h1>
{% else %}
<h1>{{ winner.capitalize() }} WINS!</h1>
{% endif %}
<br>
<h2>Statistics:</h2>
<table>
  <tr>
    <th>Player</th>
    <th>Count</th>
  </tr>
  <tr>
    <td>You</td> <td>{{ me }}</td>
  </tr>
  <tr>
    <td>Computer</td> <td>{{ cpu }}</td>
  </tr>
  <tr>
    <td>Tie</td> <td>{{ tie }}</td>
  </tr>
  <tr>
    <td>Total</td> <td>{{ tie + cpu + me }}</td>
  </tr>
</table>
{% endblock %}
