Mycoplasma_mycoides_subsp._mycoides_B345_93	Candidatus_Lumbricincola_sp._Lt3-1	Mollicutes
Mycoplasma_phocicerebrale	Populus_nigra_phytoplasma	Mollicutes
Mollicutes_bacterium_HR2	Mycoplasma_alligatoris	Mollicutes
Spiroplasma_sp._NM1108-2	Candidatus_Lumbricincola_sp._Lt-GC-G5	Mollicutes
Vasconcellea_cundinamarcensis_little_leaf_phytoplasma	Mycoplasma_pneumoniae_M129	Mollicutes
Columbia_Basin_potato_purple_top_phytoplasma	Candidatus_Mycoplasma_haemomacaque	Mollicutes
Mycoplasma_opalescens	Richardia_scabra_phytoplasma	Mollicutes
cf._Mesoplasma_symbiont_of_Acromyrmex_octospinosus	Lilium_sp._phytoplasma_NE311	Mollicutes
Mycoplasma_sualvi	Gahrom_periwinkle_phyllody_phytoplasma	Mollicutes
Strawberry_lethal_yellows_phytoplasma	Prunus_domestica_phytoplasma	unclassified_phytoplasmas
Spiroplasma_sp._NM1108-1	Aster_yellows_phytoplasma_I-P	Mollicutes
Mycoplasma_leachii_99_014_6	Blackberry_phytoplasma	Mollicutes
Carduus_crispus_phytoplasma	Mesoplasma_chauliocola	Mollicutes
Candidatus_Lumbricincola_sp._SP-12	Phytoplasma_sp._BN-Ma202	Mollicutes
Grapevine_yellows_phytoplasma	Candidatus_Mycoplasma_aoti	Mollicutes
Vernonia_little_leaf_phytoplasma	Mycoplasma_fastidiosum	Mollicutes
DarabIran_sesame_phyllody_Phytoplasma	Spiroplasma_sp._NM1108-3	Mollicutes
Mycoplasma_sp._VCU_G1	Spiroplasma_sabaudiense_Ar-1343	Mollicutes
Dandelion_virescence_phytoplasma	Mycoplasma_phocirhinis	Mollicutes
Spiroplasma_sp._Spiro-tick-Hu-6	Phragmites_australis_witches-_broom_phytoplasma	Mollicutes
Fragaria_multicipita_phytoplasma	Mycoplasma_flocculare_ATCC_27716	Mollicutes
Iranian_grapevine_phytoplasma	Trifolium_repens_phytoplasma	Candidatus_Phytoplasma_asteris
Mesoplasma_corruscae	Mycoplasma_mycoides_subsp._mycoides_SC	Mollicutes
Spiroplasma_sp._Ozg	KhuzistanIran_sugarcane_white_leaf_phytoplasma	Mollicutes
Marigold_phytoplasma_Pantnagar	Spiroplasma_endosymbiont_of_Gymnopternus_celer	Mollicutes
Iranian_apple_phytoplasma_PAP39	Mesoplasma_lactucae	Mollicutes
Mycoplasma_pneumoniae	YazdIran_cucumber_phyllody_phytoplasma	Mollicutes
Mycoplasma_sp._B2.8	Australian_lucerne_yellows_phytoplasma	Mollicutes
Mycoplasma_sp._SS_2	Spiroplasma_endosymbiont_of_Sphyrotarsus_argyrostomus	Mollicutes
Mycoplasma_sp._C3	Phytoplasma_sp._Guerrero_LY-P2	Mollicutes
Date_palm_leaflet_phytoplasma	Mesoplasma_entomophilum	Mollicutes
Sumac_witches-broom_phytoplasma	Spiroplasma_sp._TIUS-1	Mollicutes
Magnolia_grandiflora_phytoplasma	Brachycome_sp._yellows_and_little_leaf_phytoplasma	unclassified_phytoplasmas
Willow_yellow_phytoplasma	Mulberry_yellows_witches-broom_phytoplasma	Candidatus_Phytoplasma_asteris
Ranunculus_phyllody_phytoplasma	Poa_pratensis_phytoplasma	Candidatus_Phytoplasma_asteris
Candidatus_Lumbricincola_sp._Lr-2	Arecanut_yellow_leaf_disease_phytoplasma	Mollicutes
Mycoplasma_gallinaceum	Chrysanthemum_witches-broom_phytoplasma	Mollicutes
Mycoplasma_fermentans_MF-I2	Ocimum_basilicum_little_leaf_phytoplasma	Mollicutes
Iranian_cherry_phytoplasma_PCh7	Mycoplasma_sp._10T3	Mollicutes
Spiroplasma_secondary_endosymbiont_of_Curculio_albovittatus	Cherry_phytoplasma	Mollicutes
Mycoplasma_hominis	Phytoplasma_sp._Gph	Mollicutes
Florida_pigeon_pea_witches-broom_phytoplasma	Spiroplasma_endosymbiont_of_Drosophila_ananassae	Mollicutes
Ureaplasma_urealyticum_serovar_8_str._ATCC_27618	Iranian_Lactuca_serriola_phyllody_phytoplasma	Mollicutes
Mycoplasma_dispar	Canadian_peach_X_phytoplasma	Mollicutes
Primula_acaulis_yellows_phytoplasma	Mycoplasma_sp._329A05	Mollicutes
unidentified_oil_field_bacterium_CLOS1	Orosius_albicinctus_phytoplasma	Mollicutes
Mycoplasma_faucium	Acholeplasma_morum	Mollicutes
Entomoplasma_freundtii	Acholeplasma	Mollicutes
Cleome_phyllody_phytoplasma	Plum_leptonecrosis_phytoplasma	Candidatus_Phytoplasma
Acholeplasma_cavigenitalium	Italian_clover_phyllody_phytoplasma	Acholeplasmataceae
Tomatillo_witches-broom_phytoplasma	Iranian_pear_phytoplasma_PD33	Candidatus_Phytoplasma
Periwinkle_witches-broom_phytoplasma	Dogfennel_yellows_phytoplasma	Candidatus_Phytoplasma
Candidatus_Phytoplasma_vitis	Euonymus_japonicus_phytoplasma	Candidatus_Phytoplasma
Poinsettia_exuberant_flower-inducing_phytoplasma	Triadica_sebifera_yellows_phytoplasma	Candidatus_Phytoplasma
Viola_tricolor_yellows_and_little_leaf_phytoplasma	Helianthus_annuus_fasciation_phytoplasma	unclassified_phytoplasmas
Prunus_scoparia_witches-broom_phytoplasma	Sugarcane_phytoplasma_type_E	unclassified_phytoplasmas
Liriodendron_yellow_phytoplasma	Bupleurum_falcatum_yellow_dwarf_phytoplasma	Candidatus_Phytoplasma_asteris
Beet_leafhopper_transmitted_virescence_phytoplasma	Kerala_wilt_disease_phytoplasma	unclassified_phytoplasmas
Spiroplasma_sp._Bi10	Mesoplasma_lactucae_ATCC_49193	Entomoplasmatales
Iranian_almond_phytoplasma_PA10	Helianthus_annus_witches-broom_phytoplasma_SuWB2	16SrVI_Clover_proliferation_group
Spiroplasma_sp._CH-1	Mesoplasma_seiffertii	Entomoplasmatales
Podocarpus_nagi_fasciation_phytoplasma	Peruvian_Taraxacum_phytoplasma	Candidatus_Phytoplasma
Helianthus_annuus_witches-broom_phytoplasma_SuWB1	Vigna_unguiculata_virescence_phytoplasma	Candidatus_Phytoplasma
Atriplex_halimus_phytoplasma	Erysimum_cheiri_phyllody_phytoplasma	Candidatus_Phytoplasma
Peach_rosette_phytoplasma	Cocos_nucifera_lethal_yellowing_phytoplasma	Candidatus_Phytoplasma
Aster_yellows_phytoplasma_O	Acholeplasma_modicum_ATCC_29102	Acholeplasmataceae
Spiroplasma_diabroticae	Spiroplasma_melliferum_KC3	Spiroplasma
Acholeplasma_equifetale	Phytoplasma_sp._ECA_G32	Acholeplasmataceae
Flavescence_doree_phytoplasma_HD1	Chinaberry_yellows_phytoplasma	Candidatus_Phytoplasma
Grapevine_phytoplasma_Italy	Goldenrain_phytoplasma	Candidatus_Phytoplasma
Lilium_sp._phytoplasma_NE28	16SrXI_Rice_yellow_dwarf_group	Candidatus_Phytoplasma
Balsamine_virescence_phytoplasma	Crotalaria_juncea_shoot_proliferation_phytoplasma	Candidatus_Phytoplasma
Wheat_blue_dwarf_phytoplasma	Russia_potato_purple_top_phytoplasma_Rus-PPT111	Candidatus_Phytoplasma
Goosegrass_white_leaf_phytoplasma	Candidatus_Phytoplasma_pruni	Candidatus_Phytoplasma
Lens_culinaris_virescence_phytoplasma	Serjania_little_leaf_phytoplasma	unclassified_phytoplasmas
Loquat_phytoplasma	Psammotettix_sp._phytoplasma	Candidatus_Phytoplasma
Vitis_vinifera_yellows_phytoplasma	Euphorbia_coerulescens_phytoplasma	Candidatus_Phytoplasma
Fraxinus_uhdei_aster_yellows_phytoplasma	Solanum_quitoense_machorreo_phytoplasma	Candidatus_Phytoplasma
Korean_potato_witches-broom_phytoplasma	Black_pepper_phyllody_phytoplasma	Candidatus_Phytoplasma
Aster_yellows_phytoplasma_E4	Aphanamixis_polystachya_phytoplasma	Candidatus_Phytoplasma_asteris
Lactuca_sativa_yellows_phytoplasma	Planicephalus_flavicosta_phytoplasma	unclassified_phytoplasmas
Lilium_sp._phytoplasma_NE7L2	Syrah_grapevine_phytoplasma	Candidatus_Phytoplasma_asteris
Mesoplasma_grammopterae_ATCC_49580	Mesoplasma	Mesoplasma
Spiroplasma_sp._Spiro-tick-Hu-2	Spiroplasma_sp._crk	Spiroplasma
Cotton_virescence_phytoplasma	Flowering_cherry_decline_phytoplasma	Candidatus_Phytoplasma
Potato_purple_top_phytoplasma	Schinus_molle_phytoplasma	Candidatus_Phytoplasma
Marigold_witches-broom_phytoplasma	Broadbeam_phytoplasma	Candidatus_Phytoplasma
Sugar_beet_little_leaf_Phytoplasma	Bajgah_periwinkle_little_leaf_phytoplasma	Candidatus_Phytoplasma
Hibiscus_sabdariffa_wrinkled_leaves_and_phyllody_phytoplasma	Solanum_surattense_witches-broom_phytoplasma	Candidatus_Phytoplasma
Erigeron_witches-broom_phytoplasma	Lactuca_sativa_leaf_rot_phytoplasma	Candidatus_Phytoplasma
Rehmannia_glutinosa_phytoplasma	Mexican_potato_purple_top_phytoplasma_GTO30	Candidatus_Phytoplasma
Syringa_oblata_yellows_phytoplasma	Cicadulina_bipunctata_phytoplasma	Candidatus_Phytoplasma_asteris
Mexican_potato_purple_top_phytoplasma_PPT-TOMATO85	Cuban_sugarcane_yellow_leaf_phytoplasma	Candidatus_Phytoplasma_asteris
Ziziphus_nummularia_witches-broom_phytoplasma	Tomato_stolbur_phytoplasma	Candidatus_Phytoplasma
Clover_phyllody_phytoplasma	Empoasca_papaya_phytoplasma	Candidatus_Phytoplasma
Edwardsiana_rosae_phytoplasma	Apricot_stolbur_phytoplasma	Candidatus_Phytoplasma
Fallopia_japonica_phytoplasma	Vitex_negundo_stunt_phytoplasma	Candidatus_Phytoplasma
Peach_yellows_phytoplasma_PYR	Periwinkle_little_leaf_phytoplasma	Candidatus_Phytoplasma
Cauliflower_witches-broom_phytoplasma	Xanthoceras_sorbifolia_Bunge_witches-broom_phytoplasma	Candidatus_Phytoplasma
Phytoplasma_sp._BN-Ma192	Lycopersicon_esculentum_phytoplasma	Candidatus_Phytoplasma
Chinese_tulip_tree_yellow_phytoplasma	Persian_violet_stunt_phytoplasma	Candidatus_Phytoplasma
Argemone-Cactus_male_plant_phytoplasma	Lilium_sp._phytoplasma_NECu2	Candidatus_Phytoplasma_asteris
Mirabilis_jalapa_little_leaf_phytoplasma	Gleditsia_sp._yellows_phytoplasma	Candidatus_Phytoplasma
Indian_arecanut_yellow_leaf_disease_phytoplasma	Japanese_spurge_yellows_phytoplasma	Candidatus_Phytoplasma
Iranian_almond_phytoplasma_PA62	Cyrtostachys_renda_lipstick_yellow_frond_disease_phytoplasma	Candidatus_Phytoplasma
Sabal_palmetto_lethal_yellowing_phytoplasma	Phytoplasma_sp._Guerrero_LY-P6	Candidatus_Phytoplasma
Cordyline_phytoplasma	Digitaria_sanguinalis_phytoplasma	Candidatus_Phytoplasma
Acholeplasma_sp._KDA-feline	Tomatillo_phytoplasma	Acholeplasmataceae
Jasminum_nudiflorum_phytoplasma	Capsicum_annuum_phytoplasma	unclassified_phytoplasmas
Nicaragua_mango_little_leaf_phytoplasma	Russia_potato_purple_top_phytoplasma_Rus-PPT100	Candidatus_Phytoplasma
Phytoplasma_sp._BN-Fc13	Little_peach_phytoplasma	Candidatus_Phytoplasma
Peruvian_potato_phytoplasma	Corchorus_olitorius_phytoplasma	Candidatus_Phytoplasma
Carrot_yellows_phytoplasma	Phytoplasma_sp._AN25	Candidatus_Phytoplasma
Brassica_napobrassica_phytoplasma	Prunus_persica_decline_phytoplasma	Candidatus_Phytoplasma
Phaseolus_vulgaris_phytoplasma	Ribes_phytoplasma	Candidatus_Phytoplasma
Acholeplasma_palmae	Mango_phytoplasma	Acholeplasmataceae
Manihot_esculenta_witches-broom_phytoplasma	Syringa_oblata_proliferation_phytoplasma	Candidatus_Phytoplasma
Prunus_persica_x-disease_phytoplasma	Scaevola_witches-broom_phytoplasma	Candidatus_Phytoplasma
Picris_echioides_yellows_phytoplasma_Cal	Catharanthus_roseus_malformation_phytoplasma	Candidatus_Phytoplasma
Nebraska_potato_purple_top_phytoplasma_PPT9-NE	Eumecurus_sp._phytoplasma	Candidatus_Phytoplasma
Oat_proliferation_phytoplasma	Petunia_sp._flat_stem_and_witches-broom_Phytoplasma	Candidatus_Phytoplasma_asteris
Phytoplasma_sp._LfY1-Guerrero	Henon_bamboo_witches-broom_phytoplasma	Candidatus_Phytoplasma
Strawberry_multiplier_phytoplasma	Oilseed_rape_phytoplasma	unclassified_phytoplasmas
Fars_marigold_phyllody_phytoplasma	Tobacco_phytoplasma	Candidatus_Phytoplasma
Mango_witches-broom_phytoplasma	Carrot_phytoplasma_sp._ca2006_5	Candidatus_Phytoplasma
Periwinkle_India_phytoplasma	Catharanthus_roseus_aster_yellows_phytoplasma	Candidatus_Phytoplasma_asteris
Exitianus_indicus_phytoplasma	Iranian_pear_phytoplasma_PD37	Candidatus_Phytoplasma
16SrXII_Stolbur_group	Echinops_witches-broom_phytoplasma	Candidatus_Phytoplasma
Tomato_little_leaf_phytoplasma	Zamia_yellowing_phytoplasma	Candidatus_Phytoplasma
Tanzanian_lethal_decline_phytoplasma	Maize_bushy_stunt_phytoplasma	Candidatus_Phytoplasma
Spiroplasma_eriocheiris	Spiroplasma_sp._Gent	Spiroplasma
Mycoplasma_synoviae	Mycoplasma_sp._IS2505	Mycoplasma
JuyomIran_white_leaf_phytoplasma	Silene_nicaeensis_virescence_phytoplasma	Candidatus_Phytoplasma
Perkinsiella_saccharicida_phytoplasma	Tomato_big_bud_phytoplasma_Australia	Candidatus_Phytoplasma
Codiaeum_variegatum_phytoplasma	Fragaria_X_ananassa_phytoplasma_CR2	Candidatus_Phytoplasma
Mycoplasma_genitalium	Mycoplasma_bovis_CQ-W70	Mycoplasma
Spiroplasma_chinense	Spiroplasma_sp._BARC_4908	Spiroplasma
Black-eyed_susan_phyllody_phytoplasma	Yazd_marigold_phyllody_phytoplasma	Candidatus_Phytoplasma
Phytoplasma_sp._PY3	Chlorante-Aster_yellows_phytoplasma	Candidatus_Phytoplasma
Nicaragua_neem_phytoplasma	Gazania_rigens_phytoplasma	Candidatus_Phytoplasma
Dimocarpus_longan_witches-broom_phytoplasma	Acholeplasma_vituli	Acholeplasmataceae
Cactus_witches-broom_phytoplasma	Peruvian_tomato_phytoplasma	Candidatus_Phytoplasma
Acholeplasma_sp._Harris_TD3	Desmodium_ovalifolium_witches-broom_phytoplasma	Acholeplasmataceae
Mycoplasma_arginini	Ligustrum_ovalifolium_phytoplasma	Mollicutes
Candidatus_Mycoplasma_haemomeles	unclassified_Acholeplasmatales	Mollicutes
Spiroplasma_apis	Syringa_reticulata_leaf_roll_phytoplasma	Mollicutes
Spiroplasma_endosymbiont_of_Chrysotimus_flaviventris	Peach_yellow_leaf_phytoplasma	Mollicutes
Ureaplasma_urealyticum_serovar_5	Spiroplasma_sp._GSU5366	Mollicutes
Ureaplasma_urealyticum_serovar_5_str._ATCC_27817	Candidatus_Lumbricincola_sp._Ac3-2	Mollicutes
Mycoplasma_corogypsi	Foxtail_yellow_decline_phytoplasma_UPM-2	Mollicutes
Mycoplasma_sp._A4	Spiroplasma_endosymbiont_of_Poecilobothrus_chrysozygos	Mollicutes
Strawberry_lethal_yellows_phytoplasma_CPA	Spiroplasma_sp._BARC_1357	Mollicutes
Candidatus_Lumbricincola_sp._Ef-5	Foxtail_yellow_decline_phytoplasma_Bangi-2	Mollicutes
Crassula_argentea_phytoplasma	Spiroplasma_taiwanense	Mollicutes
Spiroplasma_sp._BE0801	Rubus_fruticosus_phytoplasma_Stolbur-Rubus-Bg	Mollicutes
Stellaria_media_phytoplasma	Capsicum_annuum_cv._Ixtapa_phytoplasma	Candidatus_Phytoplasma_asteris
Spiroplasma_sp._GSU5441	Mycoplasma_mycoides_group	Mollicutes
Mycoplasma_primatum_ATCC_25948	Hawaiian_sugarcane_H87-4094_yellow_leaf_phytoplasma	Mollicutes
Candidatus_Phytoplasma_rubi	Mycoplasma_mycoides_subsp._mycoides_SC_str._PG1	Mollicutes
Canavalia_ensiformis_yellows_phytoplasma	Candidatus_Lumbricincola_sp._Ac3-6	Mollicutes
Spiroplasma_endosymbiont_of_Hemerodromia_baetica	Grasshopper_phytoplasma	Mollicutes
Spiroplasma_gladiatoris	Mycoplasma_agalactiae_5632	Mollicutes
Pineapple_proliferation_phytoplasma	Spiroplasma_sp._BIUS-1	Mollicutes
Knautia_arvensis_phyllody_phytoplasma	Mycoplasma_sp._11CL2	Mollicutes
Acholeplasma_sp._ASSH51	Spiroplasma_sp._Ar-1357	Mollicutes
Goosegrass_yellows_phytoplasma	Mycoplasma_sp._Mirounga_ES2774-NAS	Mollicutes
Mycoplasma_hyopneumoniae_7448	Sugarcane_white_leaf_phytoplasma	Mollicutes
Euphorbia_linifolia_fasciation_phytoplasma	Mycoplasma_sp._Eis-1-PN-14	Mollicutes
Amaranth_chlorisis_phytoplasma	Mycoplasma_fermentans_PG18	Mollicutes
Spiroplasma_endosymbiont_of_Dolichopus_cilifemoratus	Candidatus_Lumbricincola_sp._Ef-3	Mollicutes
Mycoplasma_sp._Tm20_2	Macadamia_integrifolia_phytoplasma	Mollicutes
Spiroplasma_sp._Ozg_typeA	KhafrIran_Almond_witches-broom_phytoplasma	Mollicutes
Candidatus_Lumbricincola_sp._Ac1-4	Mycoplasma_mycoides_subsp._capri_LC	Mollicutes
Spiroplasma_sp._296	Peach_yellow_leafroll_phytoplasma	Mollicutes
Spiroplasma_endosymbiont_of_Aphis_craccivora	RoodanIran_eggplant_big_bud_phytoplasma	Mollicutes
Ureaplasma_sp._canine_oral_taxon_315	Iranian_Tomato_big_bud_phytoplasma	Mollicutes
Mycoplasma_gallisepticum_WI01_2001.043-13-2P	Candidatus_Lumbricincola_sp._Lt-G1	Mollicutes
Toona_witches-broom_phytoplasma	Mycoplasma_sp._95SR99	Mollicutes
Ash_witches-broom_phytoplasma	Mycoplasma_sp._CSL7503-lung	Mollicutes
Spiroplasma_endosymbiont_of_Syntormon_sulcipes	Rose_phytoplasma	Mollicutes
Arecanut_yellow_leaf_disease_phytoplasma_Sullia_1	Spiroplasma_sp._GSU5478	Mollicutes
Helianthus_annuus_x-disease_phytoplasma	Mycoplasma_iowae_695	Mollicutes
Cockscomb_flat_stem_phytoplasma	Candidatus_Phytoplasma_convolvuli	unclassified_phytoplasmas
Spiroplasma_endosymbiont_of_Curculio_glandium	Mycoplasma_monodon	Mollicutes
Echinacea_witches-broom_phytoplasma	Mycoplasma_felifaucium_ATCC_43428	Mollicutes
Phytoplasma_sp._JWB-Ko	Candidatus_Lumbricincola_sp._Lt1-12	Mollicutes
Pennisetum_sp._phytoplasma	Cucurbit_phyllody_phytoplasma	unclassified_phytoplasmas
Mycoplasma_hyopneumoniae_168-L	Roystonea_regia_yellow_decline_phytoplasma	Mollicutes
Mycoplasma_wenyonii	Daucus_carota_phytoplasma	Mollicutes
Candidatus_Lumbricincola_sp._SP-7	Ureaplasma_sp._USP3012	Mollicutes
Mycoplasma_arthritidis_158L3-1	Barley_deformation_phytoplasma	Mollicutes
Agave_tequilana_phytoplasma	Candidatus_Mycoplasma_girerdii	Mollicutes
Iranian_alfalfa_phytoplasma_AF16	Mycoplasma_sp._12SR98	Mollicutes
Entomoplasma_endosymbiont_of_Formica_fusca	Withania_witches-broom_phytoplasma	Mollicutes
Amaranthus_caudatus_chlorosis_phytoplasma	Mycoplasma_insons	Mollicutes
Spiroplasma_endosymbiont_of_Dolichopus_ungulatus	Ashwagandha_little_leaf_phytoplasma	Mollicutes
Spiroplasma_sp._Sib19	Phytoplasma_sp._BN-Ma182	Mollicutes
Tenericutes_bacterium_oral_taxon_504	Populus_sp._phytoplasma	Tenericutes
Spiroplasma_sp._M-10	Mycoplasma_iners_ATCC_19705	Mollicutes
Mycoplasma_cloacale_ATCC_35276	Potato_purple_top_phytoplasma_PPT-AK5	Mollicutes
Golden_beard_grass_white_leaf_phytoplasma	Mycoplasma_capricolum_subsp._capricolum	Mollicutes
Spiroplasma_symbiont_of_Laodelphax_striatellus	Tomato_big_bud_phytoplasma_Grape_A	Mollicutes
Pepper_yellow_disease_phytoplasma	Mycoplasma_putrefaciens_KS1	Mollicutes
Spiroplasma_velocicrescens	Acholeplasma_palmae_J233	Mollicutes
Mycoplasma_sp._M1_05	Spiroplasma_sp._MF0905	Mollicutes
